body {
    background-color: #ffffff;
}

h1 {
    font-family: "Arial";
    font-size: 30px;
}

h2 {
    font-family: "Arial";
    font-size: 20px;
}

h3 {
    font-family: "Arial";
    font-size: 15px;
}

p {
    font-family: "Arial";
    font-size: 10px;
}

/* Menu */

ul.menu {
	position:relative;
	background:#fff;
	width:50px;
	margin:0;
	padding:0;
	list-style: none;
	overflow:hidden;		
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);	
}

.menu li a {
	width:225px;
	padding-left:5px;
	height:50px;
	line-height:50px;
	display:block;
	overflow:hidden;
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	color:#686868;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;			
}

.menu li a:hover {
	background:#efefef;
}

.menu li a.home {
	border-left:5px solid #2c3e50;
}
		
.menu li a.settings {
	border-left:5px solid #bdc3c7;
}

.menu li a:hover i {
	color:#2980b9;
}

.menu i {
	margin-right:15px;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;	
}

.menu li.selected a {
	background:#efefef;
}